/* .img{
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
} */

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #20F4DB, 0 0 40px #20F4DB, 0 0 50px #20F4DB, 0 0 60px #20F4DB, 0 0 70px #20F4DB;
  }

  to {
    text-shadow: 0 0 40px #fff, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6, 0 0 90px #ff4da6, 0 0 100px #ff4da6;
  }
}

@-webkit-keyframes glow1 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #20F4DB, 0 0 40px #20F4DB, 0 0 50px #20F4DB, 0 0 60px #20F4DB, 0 0 70px #20F4DB;
  }

  to {
    box-shadow: 0 0 40px #fff, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6, 0 0 90px #ff4da6, 0 0 100px #ff4da6;
  }
}
.game-text{
  font-family: 'Digital-7';
  color: black;
  font-size: 60px;
}

#game-over-txt{
    /* z-index: 1;
    position: absolute; */
    background-color:rgb(255,255,255,0.8);
    color: black;
    font-size: 35px;
    margin-left: 20%;
    margin-right: 20%;
    /* margin-bottom: 20%; */
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 5%;
    text-align: center;
    color: white;
    /* width: 500px; */
    padding-left: 10%;
    padding-right: 10%;
    -webkit-animation: glow1 1s ease-in-out infinite alternate;
    -moz-animation: glow1 1s ease-in-out infinite alternate;
    animation: glow1 1s ease-in-out infinite alternate;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align:center;
  }

#play-again{
  background-color: #66ABA3;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
}

.btn{
  background-color: #66ABA3;
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
}

.btn:hover{
  background-color: #FF2795;
}

#play-again:hover{
  background-color: #FF2795;
}

#tableSaveReset{
  display: block;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
}

td{
  text-align: center;
}

.btn{
  font-family: 'Digital-7';
  background-color: #66ABA3;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  z-index: 1;
  width: 150px;
  padding: 10px;
  text-align: center;
}
#login-btn:hover{
  background-color: #FF2795;
}

#solution-div{
  font-family: 'Digital-7'
}

#hint-div{
  font-family: 'Digital-7'
}
#inner-text{
  font-family: 'Digital-7'
}

.buttons{
  font-family: 'Digital-7';
  background-color: #66ABA3;
  color: white;
  border-radius: 5px;
  font-size: 18px;
  z-index: 1;
  width: 150px;
  padding: 10px;
  text-align: center;
  display: block;
  float: right;
  margin-right: 335px;
  margin-left: -100px;
  margin-bottom: 10px;
}

.button-div{
  left: 300px;
  text-align: center;
  display: block;
  /* margin-left: auto;
  margin-right: auto; */
}

.buttons:hover{
  background-color: #FF2795;
}


/* #hint{
  float: left;
  margin-left: 300px;
}

#run-text{
  float: right;
  margin-right: 300px;
} */


.header{
  font-family:'Digital tech';
  font-size: 100px;
  display: block;
  text-align: center;
  vertical-align: middle;
  margin-left: auto;
  margin-right: auto;
  color: white;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

#background-image{

  z-index: -1;
  margin-left: auto;
  margin-right: auto;
}

#level{
  font-family:'Digital tech';
  font-size: 60px;
  color: white;
}

#score{
  font-family: 'Digital tech';
  letter-spacing: .5rem;
  color: white;
  background-color: #66ABA3;
  width: 830px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  position: absolute;
  z-index: 0;
}

#not-computer{
  z-index: -1;
  align-items: center;
  position: relative;
  left: 350px;
}


#container{
  width: 1550px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top: -200px;
  align-items: center;
}

.new{
  margin: auto;
}

#challenge{
  font-family: 'Digital-7';
  font-size: 20px;
  letter-spacing: .2rem;
  color: white;
  background-color: #66ABA3;
  text-align: center;
  width: 820px;
  height: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 30px;
  position: absolute;
  margin-top: -70px;
  z-index: 0;
}

#form{
  z-index: 1;
  display: block;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  background-color: white;
  color: black;
  border-radius: 5px;
  width: 500px;
  height: 300px;
  padding: 20px;
  -webkit-animation: glow1 1s ease-in-out infinite alternate;
  -moz-animation: glow1 1s ease-in-out infinite alternate;
  animation: glow1 1s ease-in-out infinite alternate;
}

#pre-login{
  background-image: url('https://newevolutiondesigns.com/images/freebies/texture-wallpaper-23.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

#you-win{
  font-family:'Digital-7';
  font-size: 80px;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

.modal{
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

#hint-div{
  background-color: #fefefe;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  border: 1px solid #888;
  width: 400px;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#solution-div{
  background-color: #fefefe;
  margin: auto;
  padding: 40px;
  border: 1px solid #888;
  width: 400px;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.welcome-text{
  font-family: 'Digital tech';
  font-size: 50px;
  text-align: center;
}

#input-un{
  width: 200px;
  border-radius: 5px;
  padding: 10px;
}

#inner-text{
  background-color: #fefefe;
  margin: auto;
  padding: 40px;
  border: 1px solid #888;
  width: 400px;
  font-size: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
